h1= title
p= status
p There are #{items.length} items on the stack.

nav
  ul
    - each name, url in links
      li
        a(href=url)= name
        - if (url==currentPath)
          <=

ol
  - each item in items 
    li= item.blob